.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
    background-image: linear-gradient(#858585 35%,rgb(0, 119, 255));
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px #858585, 0px 5px 20px 0px rgb(0, 119, 255);
  }
  
  .spinner1 {
    background-color: hsl(0, 0%, 88%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
  }
  
  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }

  /* rgb(186, 66, 255) 35%,rgb(0, 225, 255) */