
.Icon {
    position: absolute;
}

.Icon-check {
    left: 10px;
    cursor: pointer;
    opacity: 1;
}

.Icon-check--active {
    color: rgb(0, 119, 255);
  }

.TodoItem-p{
    cursor:pointer;
}

.TodoItem-p--complete {
    color: #A5A5A5;
    text-decoration: line-through;
  }

.Icon-delete {
    right: 10px;
    cursor: pointer;  
}

.Icon-delete:hover path{
    stroke: red;
  }

.Icon-svg{
    height: 20px;
    width: 20px;
}