section ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    
}

ul li {
    width: 300px;
    height: 100px;
    background: gray;
    margin-bottom: 8px;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}
