.TodoItem {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 16px;
    background: #e0e0e0;
    box-shadow:  -8px -8px 16px #bebebe,
                 8px 8px 16px #ffffff;
}

.TodoItem label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 70px);
}

.Icon {
    position: absolute;
}

.Icon-check {
    left: 10px;
    cursor: pointer;
    opacity: 1;
}

.Icon-check:checked {
    opacity: 0.5;
}

.Icon-check--active {
    color: #4caf50;
  }

.TodoItem-p--complete {
    color: #A5A5A5;
    text-decoration: line-through;
  }

.Icon-delete {
    right: 10px;
    cursor: pointer;  
}

.Icon-delete:hover path{
    stroke: red;
  }


