.container {
    display: flex;
    justify-content: center;     
}

.list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    /* width: 300px; */
    /* overflow-x: scroll; */
    
}




