
.cont {
    display: flex;
    justify-content: center;     
}
.cont-box {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow:  -8px -8px 16px #bebebe,
                 8px 8px 16px #ffffff;
}

.cont input {
    width: 300px;
    height: 50px;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    border: none;
    background: transparent;
}

.cont input::placeholder {
    color: #A5A5A5;
  }
.cont input:focus {
  outline-color: rgb(0, 119, 255);
}

.cont-box svg{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.cont-box:hover svg circle, .cont-box:hover svg path{
  fill: rgb(0, 119, 255);
}


